<div class="container register_page">
<div class="field">
    <label class="label">First Name</label>
    <div class="control">
      <input class="input" [(ngModel)]="firstname" type="text" placeholder="Text input">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Last Name</label>
    <div class="control has-icons-left has-icons-right">
        <input class="input" [(ngModel)]="lastname" type="text" placeholder="Text input">
     
    </div>
    <!-- <p class="help is-success">This username is available</p> -->
  </div>
  
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" [(ngModel)]="email" type="email" placeholder="Email input" >
    
      <div *ngIf="IsRegistered != true">
    <p class="help is-danger">This email is invalid</p>
  </div>
</div>
</div>
  
  
  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input " [(ngModel)]="password" type="text" placeholder="Text input" >

    </div>
  </div>

    <div class="field">
        <label class="label">RePassword</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text"  [(ngModel)]="password2" placeholder="Text input">
    
        </div>
        <div *ngIf="password != password2">
          <p class="help is-danger">Password is not same</p>
        </div>
      </div>
    
    

  
  
  
  
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox">
        I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div>
  
  <div class="field">
    <div class="control">
      <label class="radio">
        <input type="radio" name="question">
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="question">
        No
      </label>
    </div>
  </div>
  
  <div class="field is-grouped">
    <div  class="control">
      <button class="button is-link" (click)="NewUser()">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light"  (click)="Cancel()">Cancel</button>
    </div>
  </div>
</div>
